<div class="footer bg-dark py-3 mt-auto">
    <div class="container-fluid d-flex justify-content-between">
        <p class="text-light mb-0 d-inline-block">&copy; Votify 2021</p>
        <p class="text-secondary mb-0 d-inline-block">Designed by
            <a target="_blank" href="https://hossamhamzahm.github.io" class="text-secondary">
                Hossam Hamza</a>
        </p>
    </div>
</div>