<%- layout('layouts/boilerplate.ejs') %>


<h1 class="display-6 mb-3">Register</h1>
<form action="/register" method="Post" class="needs-validation" novalidate>

    <label for="first-name" class="form-label">First Name</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="user[f_name]" id="first-name" placeholder="First Name"
            aria-label="Email" required>
        <div class="valid-feedback">
            Looks good
        </div>
        <div class="invalid-feedback">
            This field must contain a valid email
        </div>
    </div>

    <label for="last-name" class="form-label">Last Name</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="user[l_name]" id="last-name" placeholder="Last Name"
            aria-label="Email" required>
        <div class="valid-feedback">
            Looks good
        </div>
        <div class="invalid-feedback">
            This field must contain a valid email
        </div>
    </div>
    
    <label for="user-email" class="form-label">Email</label>
    <div class="input-group mb-3">
        <input type="email" class="form-control" name="user[email]" id="user-email" placeholder="Email"
            aria-label="Email" required>
        <span class="input-group-text" id="user-email">@</span>
        <div class="valid-feedback">
            Looks good
        </div>
        <div class="invalid-feedback">
            This field must contain a valid email
        </div>
    </div>

    <label for="username" class="form-label">Username</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="user[username]" id="username" placeholder="Username" aria-label="username" required>
        <div class="valid-feedback">
            Looks good
        </div>
        <div class="invalid-feedback">
            This field cannot be empty
        </div>
    </div>


    <label for="phone" class="form-label">Phone</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="user[phone]" id="phone" placeholder="Phone Number"
            aria-label="phone" required>
        <div class="valid-feedback">
            Looks good
        </div>
        <div class="invalid-feedback">
            This field cannot be empty
        </div>
    </div>

    <label for="password" class="form-label">Password</label>
    <div class="input-group mb-3">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" aria-label="password" required>
        <div class="valid-feedback">
            Looks good
        </div>
        <div class="invalid-feedback">
            This field cannot be empty
        </div>
    </div>

    <label for="confirm_password" class="form-label">Confirm Password</label>
    <div class="input-group mb-3">
        <input type="password" class="form-control" id="confirm_password" placeholder="Password confirmation"
            aria-label="password confirmation" required>
        <div class="valid-feedback confirm_password">
            Passwords Match
        </div>
        <div class="invalid-feedback confirm_password">
            passwords don't match
        </div>
    </div>

    <button class="btn btn-success mb-3">Register</button>
</form>

<p>Already having an account <a href="/login">Log in</a></p>


<script>
    var check = function () {
        if (document.getElementById('password').value ==
            document.getElementById('confirm_password').value) {
            document.querySelector('.valid-feedback.confirm_password').classList.remove('d-none');
            if (document.querySelector('.invalid-feedback.confirm_password').classList.contains('d-block'))
                document.querySelector('.invalid-feedback.confirm_password').classList.remove('d-block');
            if(!document.querySelector('.valid-feedback.confirm_password').classList.contains('d-block'))
                document.querySelector('.valid-feedback.confirm_password').classList.add('d-block');
        
        } else {
            if(!document.querySelector('.valid-feedback.confirm_password').classList.contains('d-none'))
                document.querySelector('.valid-feedback.confirm_password').classList.add('d-none');
            if (document.querySelector('.valid-feedback.confirm_password').classList.contains('d-block'))
                document.querySelector('.valid-feedback.confirm_password').classList.remove('d-block');
            if (!document.querySelector('.invalid-feedback.confirm_password').classList.contains('d-block'))
                document.querySelector('.invalid-feedback.confirm_password').classList.add('d-block');

            if (document.querySelector('.invalid-feedback.confirm_password').classList.contains('d-none'))
                document.querySelector('.invalid-feedback.confirm_password').classList.remove('d-none');

            }
        }
        document.querySelector('form[action="/register"]').addEventListener('submit', function(e){
            if(document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                    console.log('passwords do not match')
            }
            else{
                    e.preventDefault()
            }
        });

        document.getElementById('confirm_password').addEventListener('keyup', ()=> check())
</script>